:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 393px;
  height: 852px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.star {
  position: relative;
  width: 46px;
  height: 44px;
  margin: 47px 0 0 320px;
  background: url(../assets/images/d4f97029-37b0-4c12-8128-6dc58b3ed6d6.png)
    no-repeat center;
  background-size: cover;
  z-index: 14;
}
.flex-row-ccb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 238px;
  height: 39px;
  margin: 54px 0 0 20px;
  z-index: 15;
}
.hi-welcome {
  flex-shrink: 0;
  position: relative;
  height: 39px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.3px;
  z-index: 12;
}
.image {
  flex-shrink: 0;
  position: relative;
  width: 30px;
  height: 30px;
  background: url(../assets/images/037ddc65b57638aeddc26938f69c2252d72f5731.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 6px;
  position: relative;
  width: 353px;
  margin: 38px 0 0 20px;
}
.title {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 18px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.input-field {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 353px;
  padding: 18px 16px 18px 16px;
  background: #ffffff;
  border: 1px solid #d8dadc;
  z-index: 2;
  overflow: hidden;
  border-radius: 10px;
}
.input-1 {
  flex-shrink: 0;
  position: absolute;
  width: 353px;
  height: 56px;
  top: -1px;
  left: -1px;
  background: transparent;
  border: none;
  z-index: 4;
  outline: none;
}
.email-input {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.input-field-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 6px;
  position: relative;
  width: 353px;
  margin: 22px 0 0 20px;
  z-index: 5;
}
.password-title {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 18px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.password-input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 353px;
  padding: 18px 16px 18px 16px;
  background: #ffffff;
  border: 1px solid #d8dadc;
  z-index: 7;
  overflow: hidden;
  border-radius: 10px;
}
.input-3 {
  flex-shrink: 0;
  position: absolute;
  width: 353px;
  height: 56px;
  top: -1px;
  left: -1px;
  background: transparent;
  border: none;
  z-index: 11;
  outline: none;
}
.password-text {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.icon {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 9;
  overflow: hidden;
}
.eye {
  position: relative;
  width: 17px;
  height: 15px;
  margin: 2px 0 0 1px;
  background: url(../assets/images/8ad332d0-31fe-4989-9d46-9645c8bfefcd.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 10;
}
.flex-row-e {
  position: relative;
  width: 353px;
  height: 20px;
  margin: 15px 0 0 20px;
  z-index: 21;
}
.checkbox-on {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: url(../assets/images/721a475e-7cc4-4d27-a81c-4c067d7379ba.png)
    no-repeat center;
  background-size: cover;
  z-index: 21;
}
.remember-me {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 1px;
  left: 32px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.forgot-password {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 1px;
  left: 234px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.button-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 353px;
  height: 56px;
  margin: 42px 0 0 20px;
  padding: 17px 152px 17px 152px;
  cursor: pointer;
  background: #000000;
  border: none;
  z-index: 22;
  border-radius: 10px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 47px;
  height: 20px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 23;
}
.flex-row-fdc {
  position: relative;
  width: 353px;
  height: 18px;
  margin: 103px 0 0 20px;
  z-index: 20;
}
.or-with {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 0;
  left: 152px;
  color: rgba(0, 0, 0, 0.7);
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.line {
  position: absolute;
  width: 132px;
  height: 1px;
  top: 8px;
  left: 221px;
  background: url(../assets/images/6b6780c0-ebe6-45f1-957d-37deb4476c97.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
}
.line-4 {
  position: absolute;
  width: 132px;
  height: 1px;
  top: 8px;
  left: 0;
  background: url(../assets/images/0ff0b561-505e-4a12-aa1f-bc6440b789e0.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
}
.flex-row-bb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 353px;
  height: 56px;
  margin: 22px 0 0 20px;
  z-index: 29;
}
.button-centered-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 170px;
  padding: 18px 45px 18px 45px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #d8dadc;
  z-index: 24;
  border-radius: 10px;
}
.frame {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 98px;
  z-index: 25;
}
.social-icon-facebook {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 26;
  overflow: hidden;
}
.vector {
  position: relative;
  width: 8.956px;
  height: 18px;
  margin: 1px 0 0 6px;
  background: url(../assets/images/9ff3b47a-e771-403a-a1ae-ad0665167fc5.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 27;
}
.google {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 18px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 17.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 28;
}
.button-centered-icon-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 170px;
  padding: 18px 45px 18px 45px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #d8dadc;
  z-index: 29;
  border-radius: 10px;
}
.frame-6 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 80px;
  z-index: 30;
}
.social-icon-google {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 31;
  overflow: hidden;
}
.google-logo {
  position: relative;
  width: 18.174px;
  height: 19px;
  margin: 0 0 0 1px;
  background: url(../assets/images/8c3019c0-a325-4996-8e1d-f8961a9e9007.png)
    no-repeat center;
  background-size: cover;
  z-index: 32;
  overflow: hidden;
  border-radius: 10px;
}
.google-7 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 18px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 17.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.sign-up-section {
  position: relative;
  width: 210px;
  height: 18px;
  margin: 50px 0 0 91px;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 16;
}
.dont-have-account {
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: left;
}
.empty-space {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: left;
}
.sign-up {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 17.5px;
  text-align: left;
}
